.install{
    color:rgb(19, 109, 1);
    font-size:20px;
}
.question{
    color:rgb(255, 2, 2);
    font-size:20px;
}

.download{
    color:rgb(0, 0, 0);
    font-size:20px;
}

.announcement{
    color:rgb(0, 0, 0);
    font-size:20px;
}


.color-common{
    color:#000000
}

.background-color{
    background-color: rgba(0, 0, 0, 0.781);
}

.background-color1{
    background-color: #e6dfdff3;
}
#border1{
    padding:20px; 
    margin:20px; 
    margin-left:100px;
    border:2px 
    solid black; 
    width:500px; 
    height:1200px;
    overflow:auto; /* 滾輪 */
    float:left; /* 浮空水平並排 */
}
#border2{
    padding:20px; 
    margin:20px; 
    border:2px 
    solid black; 
    width:500px; 
    height:1200px;
    overflow:auto; /* 滾輪 */
    float:left;
}
#border3{
    padding:20px; 
    margin:20px; 
    border:2px 
    solid black; 
    width:500px; 
    height:1200px;
    overflow:auto; /* 滾輪 */
    float:left;
}
#border4{
    padding:20px; 
    margin:20px; 
    border:2px 
    solid black; 
    width:500px; 
    height:1200px;
    overflow:auto; /* 滾輪 */
    float:left;
}

#title1{
    text-align: center; /* 文字置中 */
}

#subtitle{
    color:black;
    margin-bottom:-10px
}

#border-radius{
    opacity:0.5; 
    border-radius:40px; 
    width:80px; 
    height:80px; 
    background-color: rgb(134, 230, 217);
}